POSTGRES_HOST=database-iwo-service
POSTGRES_PORT=5432
POSTGRES_USER=odoo
POSTGRES_PASSWORD=hBn7seWC1nKMgywD8lUw

ODOO_ADMIN_PASSWD=hBn7seWC1nKMgywD8lUw
ODOO_LIST_DB=False

ODOO_HTTP_PORT=8069
ODOO_LONGPOLLING_PORT=8072
